<!DOCTYPE html>
<html>
  <head>
    <title>Postit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to("Home", root_path) %>
      <%= link_to("Notes", notes_path) %>
      <%= link_to("Make a new note", new_note_path) %>
    </nav>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p><small>Made by frantic design during class</small></p>
    </footer>
  </body>
</html>
